<div class="module-container">
  <div class="module">
    <div class="column" *ngFor="let column of columns; index as i" [class.selected]="selectedColumn === i">
      <ion-button class="led" [class.lit]="column.led" (click)="column.led = !column.led"></ion-button>
      <div class="wires" (click)="selectColumn(i)">
        <div class="wire {{wire}}" *ngFor="let wire of column.wires"></div>
      </div>
      <ion-button class="star" (click)="column.star = !column.star">
        <ion-icon *ngIf="column.star" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <div class="cut-status">
        <span [class.faded]="!shouldCut(column)">CUT</span>
      </div>
    </div>
  </div>
  <div class="buttons colors">
    <ion-button color="danger" (click)="toggleColor('red')">Red</ion-button>
    <ion-button color="primary" (click)="toggleColor('blue')">Blue</ion-button>
    <ion-button color="medium" (click)="toggleColor('white')">White</ion-button>
    <ion-button fill="clear" (click)="selectNextColumn()">Next</ion-button>
  </div>
</div>
