<div class="module-container">
  <div class="module">
    <div class="column" *ngFor="let column of columns; index as i" [class.selected]="selectedColumn === i">
      <div class="led" [class.lit]="column.led" (click)="column.led = !column.led"></div>
      <div class="wires" (click)="selectColumn(i)">
        <div class="wire {{wire}}" *ngFor="let wire of column.wires"></div>
      </div>
      <div class="star" (click)="column.star = !column.star">
        <div *ngIf="column.star">★</div>
      </div>
      <div class="cut-status">
        <div [class.faded]="!shouldCut(column)">CUT</div>
      </div>
    </div>
  </div>
  <div class="buttons colors">
    <div class="button red" (click)="toggleColor('red')">RED</div>
    <div class="button blue" (click)="toggleColor('blue')">BLUE</div>
    <div class="button white" (click)="toggleColor('white')">WHITE</div>
    <div class="button" (click)="selectNextColumn()">NEXT</div>
  </div>
  <div class="buttons settings">
    <div class="button" [class.selected]="bombStateService.parallel" (click)="bombStateService.parallel = !bombStateService.parallel">PARALLEL PORT</div>
    <div class="button" [class.selected]="bombStateService.batteries" (click)="bombStateService.batteries = !bombStateService.batteries">2 OR MORE BATTERIES</div>
    <div class="button" [class.selected]="bombStateService.serial" (click)="bombStateService.serial = !bombStateService.serial">EVEN SERIAL</div>
  </div>
</div>