.module-container {
  display: flex;
  flex-direction: column;

  .module {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 12%;
      padding: 5px;

      .led {
        width: 30px;
        height: 30px;
        --background: #616161;
        --border-radius: 50%;

        &.lit {
          --background: #ffeb3b;
        }
      }

      .wires {
        cursor: pointer;
        display: flex;
        height: 300px;
        width: 100%;
        margin: 5px 0px;
        align-items: center;
        justify-content: center;

        .wire {
          margin: 2px;
          width: 5px;
          height: 100%;

          &.red {
            background-color: #eb445a;
          }
          &.blue {
            background-color: #3880ff;
          }
          &.white {
            border: solid 1px;
            background-color: #f4f5f8;
          }
        }
      }

      .star {
        width: 30px;
        height: 30px;

        &::part(native) {
          padding: 5px;
        }

        --background: #a98274;
      }

      .cut-status {
        text-align: center;
        padding: 5px;

        .faded{
          opacity: 0.1;
          text-decoration: line-through;
        }
      }

      &.selected {
        background-color: #AFAFAF;
        border-radius: 5px;
      }
    }
  }

  .buttons {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    &.colors ion-button {
      width: 20%;
    }

    &.settings ion-button {
      width: 30%;
    }
  }
}
