.module-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  height: 100%;
  width: 100%;

  .module {
    width: 100%;

    .spaced-out {
      display: flex;
      justify-content: space-between;
    }

    .stage {
      border-top: 1px solid var(--ion-color-light);
      padding-top: 5px;
      margin-top: 5px;
    }

    .titles b {
      width: 100px;
      text-align: center;
    }
  }

  .advice {
    margin-top: 8px;

    b {
      text-transform: uppercase;
      color: var(--ion-color-success);
    }
  }
}