.led-container {
  display: flex;
  align-items: center;

  .led {
    width: 30px;
    height: 30px;
    --background: #616161;
    --border-radius: 50%;

    &.lit {
      --background: #ffeb3b;
    }
  }

  label {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}