.module-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 400px;
  max-width: 100%;
  overflow: auto;

  .status-bar {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    color: black;
    padding: 5px 10px;

    .title {
      cursor: text;
    }

    ion-icon {
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  .module {
    height: 500px;
    width: 100%;

    .empty-state {
      padding: 30px 10px;
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .module-container {
    .module {
      height: initial;
    }
  }
}