.module-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 400px;
  max-width: 100%;
  overflow: hidden;

  .status-bar {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    color: black;
    padding: 5px 2px 5px 10px;

    .title {
      display: flex;
      align-items: center;

      .requirement {
        display: flex;
        margin-left: 10px;

        ion-icon {
          font-size: 22px;
          pointer-events: none;
        }
      }
    }

    .controls {
      display: flex;
      align-items: center;

      ion-icon {
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;

        &[name="reload"] {
          padding: 4px;
          font-size: 18px;
        }

        &[name="close"] {
          font-size: 22px;
          width: 26px;
          height: 26px;
        }

        &:not(:last-of-type) {
          margin-right: 4px;
        }

        &:hover {
          background: #ddd;
        }
      }
    }
  }

  .module {
    height: 500px;
    width: 100%;
    overflow: auto;

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 10px;
      width: 100%;
      text-align: center;

      ion-button {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .module-container {
    .module {
      height: initial;
    }
  }
}
