<div class="module-container">
  <div class="status-bar">
    <div class="title">{{ module }}</div>
    <div>
      <ion-icon name="reload" (click)="reloaded.emit()"></ion-icon>
      <ion-icon name="close" (click)="closed.emit()"></ion-icon>
    </div>
  </div>

  <div class="module" [ngSwitch]="module">
    <app-complicated-wires *ngSwitchCase="Modules.COMPLICATED_WIRES"></app-complicated-wires>
    <app-keypads *ngSwitchCase="Modules.KEYPADS"></app-keypads>
    <app-knobs *ngSwitchCase="Modules.KNOBS"></app-knobs>
    <app-mazes *ngSwitchCase="Modules.MAZES"></app-mazes>
    <app-memory *ngSwitchCase="Modules.MEMORY"></app-memory>
    <app-morse-code *ngSwitchCase="Modules.MORSE_CODE"></app-morse-code>
    <app-passwords *ngSwitchCase="Modules.PASSWORDS"></app-passwords>
    <app-simon-says *ngSwitchCase="Modules.SIMON_SAYS"></app-simon-says>
    <app-the-button *ngSwitchCase="Modules.THE_BUTTON"></app-the-button>
    <app-whos-on-first *ngSwitchCase="Modules.WHOS_ON_FIRST"></app-whos-on-first>
    <app-wire-sequences *ngSwitchCase="Modules.WIRE_SEQUENCES"></app-wire-sequences>
    <app-wires *ngSwitchCase="Modules.WIRES"></app-wires>

    <div class="empty-state" *ngSwitchDefault>
      This module either hasn't been implemented yet or doesn't exist
      <ion-button size="small" color="medium" (click)="closed.emit()">Close Module</ion-button>
    </div>
  </div>
</div>
