<div class="module">
  <div class="status-bar">
    <ion-icon name="close" (click)="close.emit()"></ion-icon>
  </div>

  <app-complicated-wires *ngIf="module === Modules.COMPLICATED_WIRES"></app-complicated-wires>
  <app-keypads *ngIf="module === Modules.KEYPADS"></app-keypads>
  <app-knobs *ngIf="module === Modules.KNOBS"></app-knobs>
  <app-mazes *ngIf="module === Modules.MAZES"></app-mazes>
  <app-memory *ngIf="module === Modules.MEMORY"></app-memory>
  <app-morse-code *ngIf="module === Modules.MORSE_CODE"></app-morse-code>
  <app-passwords *ngIf="module === Modules.PASSWORDS"></app-passwords>
  <app-simon-says *ngIf="module === Modules.SIMON_SAYS"></app-simon-says>
  <app-the-button *ngIf="module === Modules.THE_BUTTON"></app-the-button>
  <app-whos-on-first *ngIf="module === Modules.WHOS_ON_FIRST"></app-whos-on-first>
  <app-wire-sequences *ngIf="module === Modules.WIRE_SEQUENCES"></app-wire-sequences>
  <app-wires *ngIf="module === Modules.WIRES"></app-wires>
</div>