.container {
  padding: 10px;

  h3:first-of-type {
    margin-top: 0;
  }

  input {
    border: 2px solid var(--ion-color-dark);
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    background: var(--ion-color-light);

    &:focus {
      outline: none;
      border-color: var(--ion-color-primary);
    }
  }
}