<div class="module-container">
  <div class="module">
    <div class="options-row">
      <label>First Options:</label>
      <ion-input (ionChange)="filterPasswords()" [(ngModel)]="options[0]"></ion-input>
    </div>
    <div class="options-row">
      <label>Second Options:</label>
      <ion-input (ionChange)="filterPasswords()" [(ngModel)]="options[1]"></ion-input>
    </div>
    <div class="options-row">
      <label>Third Options:</label>
      <ion-input (ionChange)="filterPasswords()" [(ngModel)]="options[2]"></ion-input>
    </div>
    <div class="options-row">
      <label>Fourth Options:</label>
      <ion-input (ionChange)="filterPasswords()" [(ngModel)]="options[3]"></ion-input>
    </div>
    <div class="options-row">
      <label>Fifth Options:</label>
      <ion-input (ionChange)="filterPasswords()" [(ngModel)]="options[4]"></ion-input>
    </div>
    <div class="password-options">
      <div *ngFor="let word of words">{{ word }}</div>
    </div>
  </div>
</div>