<div class="module-container">
  <div class="module">
    <div class="options-row" *ngFor="let col of [0, 1, 2, 3, 4]">
      <label>Column {{col + 1}}:</label>
      <ion-input
        [class.good]="options[col] && options[col].length === WORDS_PER_COLUMN"
        [class.bad]="options[col] && options[col].length > WORDS_PER_COLUMN"
        (ionChange)="filterPasswords()"
        [(ngModel)]="options[col]">
      </ion-input>
    </div>
    <div class="password-options">
      <div
        class="word"
        [class.faded]="!words.includes(word)"
        [class.highlighted]="words.length === 1 && words.includes(word)"
        *ngFor="let word of allWords">
        {{ word }}
      </div>
    </div>
  </div>
</div>