ion-toolbar ion-buttons {
  overflow-x: scroll !important;
}

.layout-container {
  display: flex;
  height: 100%;
  overflow: hidden;

  .sidebar {
    width: 250px;
    background: var(--ion-color-light);
  }

  .modules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;

    .empty-state {
      margin: 60px 20px;
      text-align: center;
    }
  }
}