<ion-header>
  <ion-toolbar>
    <ion-title>Smart Bomb Manual</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngFor="let module of moduleNames" (click)="moduleService.addModule(module)">
        {{ module }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modules">
    <app-module-window
      *ngFor="let module of moduleService.loadedModules; index as i"
      [module]="module"
      (close)="moduleService.removeModule(i)">
    </app-module-window>

    <div class="empty-state" *ngIf="moduleService.loadedModules.length === 0">
      Select a new module to work on from the toolbar above 👆
    </div>
  </div>
</ion-content>
