<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/favicon-32x32.png">
      bomb.ninja
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngFor="let module of moduleNames" (click)="moduleService.addModule(module)">
        {{ module }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="layout-container">
    <div class="sidebar" [class.shown]="!showModules">
      <app-bomb-state></app-bomb-state>
    </div>
    <div class="modules" [class.shown]="showModules">
      <app-module-window
        *ngFor="let module of moduleService.loadedModules; index as i"
        [module]="module.name"
        (reloaded)="moduleService.reloadModule(i)"
        (closed)="moduleService.removeModule(i)">
      </app-module-window>

      <div class="empty-state" *ngIf="moduleService.loadedModules.length === 0">
        Select a new module to work on from the toolbar above 👆
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [value]="selectedTab.label">
      <ion-segment-button [value]="tab.label" *ngFor="let tab of tabs" (click)="selectTab(tab)">
        <ion-label>{{ tab.label }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
