ion-toolbar {
  ion-buttons {
    overflow-x: scroll !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }

  ion-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 8px;

    img {
      position: relative;
      left: 4px;
      top: 8px;
    }
  }
}

.layout-container {
  display: flex;
  height: 100%;
  overflow: hidden;

  .sidebar {
    width: 250px;
    min-width: 190px;
    background: var(--ion-color-light);
    overflow: auto;
  }

  .modules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;

    app-module-window {
      max-width: 100%;
      margin: 20px 10px;
    }

    .empty-state {
      margin: 60px 20px;
      text-align: center;
    }
  }
}

ion-footer {
  display: none;
}

@media (max-width: 600px) {
  .layout-container {
    .sidebar, .modules {
      width: 100%;
      height: 100%;
    }

    .sidebar:not(.shown) {
      display: none;
    }
    .modules:not(.shown) {
      display: none;
    }
    app-module-window {
      margin: 10px 0;
    }
  }

  ion-footer {
    display: initial;
  }
}