.module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 5px;

  * {
    text-align: center;
  }

  .module {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--ion-color-medium);
    padding: 5px;

    input {
      margin: 5px;
      padding: 3px;
      color: var(--ion-color-dark);
      background-color: var(--ion-color-light);
      border: 2px solid var(--ion-color-dark);

      &:focus {
        outline: none;
        border-color: var(--ion-color-primary);
      }
    }

    .display {
      font-size: 20px;
    }

    .positions {
      display: flex;
      flex-wrap: wrap;

      input {
        font-size: 16px;
        width: calc(50% - 10px);

        &[disabled] {
          background-color: var(--ion-color-dark);
          color: transparent;
          opacity: .2;
        }
      }
    }
  }

  .possible-words {
    font-size: 18px;
    padding: 5px;

    .bold {
      font-weight: bold;
      font-size: 22px;
    }
  }

  .uppercase,
  .uppercase * {
    text-transform: uppercase;
  }
}